a {
  color: #666;
  text-decoration: none;
  word-break: break-all;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: #999;
}

body {
  font-family: monospace, monospace;
}

@keyframes ellipsis-animation {
    0%  { clip-path: inset(0 100% 0 0); }
    25% { clip-path: inset(0 66.6% 0 0); }
    50% { clip-path: inset(0 33.3% 0 0); }
    75% { clip-path: inset(0 0 0 0); }
}

/* From https://stackoverflow.com/questions/13014808/is-there-any-way-to-animate-an-ellipsis-with-css-animations/75179539#75179539 */
.loading-ellipsis:after {
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    animation: ellipsis-animation steps(1,end) 2s infinite;
    content: "\2026"; /* ascii code for the ellipsis character */
}

.record {
  float: left;
  padding-bottom: 0.8em;
  width: 343px;
}

.record img {
  height: 343px;
  width: 343px;
}
